@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* 
    General Stuff
*/
html{
    font-size: 14px;
    scroll-behavior: smooth;
}
  
*,::before,::after{
	margin: 0;
	box-sizing: border-box;
}

body{
	line-height: 1.3;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	color: var(--text-color) !important;
	background-color: var(--body-bg) !important;
  }
  
/* 
Typograpy Stuff
*/

h1, h2, h3{
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
	outline: none !important;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
/* 
  Reuseable Stuff
*/

:root{
  --text-color:#4d4d4d;
  --text-grn: limegreen;
  --text-white: #ffffff;
  --text-blue:#067ab4;
  --text-blueBtn: #3cadc9;
  --border-blueBtnMap:#7dd3e2;
  --bg-blueBtnMap: #d2f0f5;
  --text-blue3: #067ab4;
  --bg-blueAddPhotoBtn:  #d8eff4;
  --border-blueAddPhoto:  #91d1e0;
  --qa-btnborder:  #a2cde3;
  --qa__bgbtn:  #cde4f0;
  --txt-h-info:  #1d1d1d;
  --footer-bg: #006600;
  /* --footer-bg: #233142; */
  --footer-color: #666;
  --submenu-bg: #eee;
  --sec2-bg:#efefef;
  --sec2-sortoutlist-bg:#828c91;
  --footer-title-color: #ffd400;
  /* --footer-title-color: #bf9966; */
  --pink-bg: #fa9994;
  --color-cat: #686868;
  --color-lightgrey: #555;
  --color-lightgrey-more:#e8e8e8;
  --color-lightgrey-more2:#999;
  --color-lightgrey-more3:#e1e1e1;
  --color-lightgrey-more4:#e4e3e1;
  --color-lightgrey-more5: #797979;
  --color-lightgrey-more6: #dbdbdb;
  --color-lightgrey-more7: #ccc;
  --color-lightgrey-more8: gray;
  --body-bg:#efefef;
  --retaurant-bg:#efefef;
  --rating-bg:#d6d6d6;
  --profile-bg: #cebb00;
  --profile-bg3:#62a22d;
  --price-txt:#4f9300;
  --profile-bg2: #7697b6;
  --disable-color: #f0f0f0;
  --suggestion-bg:#000;
  --txt-dark:#222;
  --txt-darkmore:#333;
  --txt-lightdark:#333;
  --txt-lightgrey2:#999;
  --txt-lightgrey6:#555;
  --txt-lightgrey7:#777;
  --txt-red: #ed5400;
  --txt-orange: #ff5000;
  --home-signup-bg: rgba(34,48,66,.7);
  --aside-bg: #282828;
  --aside-link-brt-color: #474747;
  --aside-link-brb-color: #252525;
}

.btn{
    border-radius: 3px;
    display: inline-block;
    margin-top: 1px;
    padding: 6px 8px;
    background: #fff;
    color: #555;
    cursor: pointer;
}
.btn-info{
    background-color: #d8eff4;
    color: #000;
    border: 1px solid #91d1e0;
}
/* aside */
.header__aside{
    box-shadow: 0 4px 3px -2px rgba(0,0,0,.2);
    background-color: #282828;
    color: #fff;
}
.header__aside__overlay{
    position: fixed;
    background-color: rgba(255,255,255,0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    display: block;
    /* visibility: hidden;
    opacity: 0; */
    transition: all 0.5s ease
}
.aside__header .aside__header__nav{
    position: fixed;
    width: 320px;
    background-color: #282828;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    /* transform: translateX(-100%); */
    transition: all 0.5s ease;
    z-index: 1099;
    color: #fff;
    -webkit-box-shadow: 0 3px 3px 4px rgba(0,0,0,.6);
    box-shadow: 0 3px 3px 4px rgba(0,0,0,.6);
}
.header__aside.active nav{
    transform: translateX(0%);
}
.header__aside.active .header__aside__overlay{
    visibility: visible;
    opacity: 1;
}
.aside__header__nav .aside__header__ul + .aside__header__ul{
    margin-bottom: .8rem;
}
.header__aside ul{
    box-shadow: 0 4px 3px -2px rgba(0,0,0,.2);
}
.aside__header__ul__li__link{
    color: #d9d8d8;
    border: 0 solid transparent;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #252525;
    font-size: 17px;
    padding: .6em 1.3em;
    display: block;
    width: 100%;
    cursor: pointer;
    -webkit-box-shadow: 0 4px 3px -2px rgba(0,0,0,.2);
    box-shadow: 0 4px 3px -2px rgba(0,0,0,.2);
    background: #373737;
}
.aside__header__ul__li__item.active .aside__header__link__inner__sub__menu{
    display: block;
    height: auto !important;
}

.aside__header__link__inner__sub__menu {
    background: transparent;
    overflow: hidden;
    height: 0;
    transition: 0.3s max-height linear;
    display: none;
}
.aside__header__link__inner__sub__menu__link{
    font-size: .875rem;
    line-height: normal;
    background-color: #272727;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #000;
    padding: .5em 1.9em;
    display: block;
    color: #d9d8d8;
}


.aside__header__footer{
    text-align: center;
}

.aside__header__footer a{
    color: #fff;
}

.aside__header__footer p{
    color: #ddd;
}
.aside__header__footer a ~ a{
    margin-right: 1rem;
}
.aside__header__ul__browse{
    color: var(--text-white);
    display: block;
    margin-top: 1.4rem;
    margin-bottom: .8rem;
    padding-left: 1.3em;
    font-size: 1.1rem;
}
/*
=====================================================
CONTAINER
=====================================================
*/
.container{
	width: min(1000px, 90%);
	margin: auto;
}
.container-sec{
	width: min(900px,80%);
	margin: auto;
}
/* Only For Desktop */
@media (min-width: 992px){

}
/* Responsive Tab*/
@media (max-width: 992px){
    html{
        font-size: 11.8px;
    }
    .containers{
        width: min(800px, 90%);
	}

}

/* Responsive Mobile */
@media (max-width: 768px){
    html{
        font-size: 11px;
    }


}
/* Responsive Small Mobile */

@media (max-width: 500px){
	html{
		font-size: 8.8px !important;
	 }

}
/* Responsive Small Mobile */
@media (max-width: 320px){
   
}
/*
=============================
	Header
=============================
*/
header{
    background-color: var(--footer-bg);
    padding: .75em 0;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}
.d-none{
    display: none;
}
.sticky{
    display: block;
    position: fixed;
    top: 0;
    z-index: 700;
    left: 0;
    right: 0;

}
.main__nav{
    display: flex;
    justify-content: space-between;
}
.header_logo .logo{
    width: 80%;
}   

.header__list{
    display: flex;
    align-items: center;
}
.header__list + .header__list{
    margin-left: 2rem;
}

.header__list__link{
    color: var(--text-white);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .5px;
    display: flex;
    align-items: flex-start;
    position: relative;
    width: max-content;
}
.header__list__sub__menu{
    position: absolute;
    z-index: 500;
    transition: all 0.5s ease;
    margin-top: 2.8rem;
    opacity: 0;
    visibility: hidden;
    background-color: var(--submenu-bg);
    transform: translateX(-2rem);
}
.header__list__link__arrow{
    margin-left: .3rem;
}
.single__col__menu{
    width: min(190px, 190px);
    min-height: 20.6rem;
    
}
.border__main{
    border: 1px solid var(--color-lightgrey-more7);
    border-top: 0;
    border-left: 0;
}
.border__main2{
    border: 1px solid var(--color-lightgrey-more7);
    border-top: 0;
    border-right: 0;
}

.menu-item-has-children .sub_menu_main.active{
    margin-top: 1.78rem;
    opacity: 1;
    visibility: visible;
}
/* innermenu */

.header__list__sub__menu__item{
    padding: .63em 1em;
}

.header__list__sub__menu__item:hover{
    box-shadow: inset .3em 0 0 0 var(--txt-orange);
    background-color: var(--text-white);
}
.header__list__sub__menu__item__link{
    position: relative;
    font-size: 1rem;
    font-weight: 800;
    color: var(--suggestion-bg);
}
.header__list__sub__menu__item__icon{
    width: 1rem;
    margin-right: .8rem;
}
.sub__menu__item__inner__sub__menu{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--text-white);
}
.header__list__sub__menu__list > .header__list__sub__menu__item:nth-child(1) .sub__menu__item__inner__sub__menu{
    opacity: 1;
    visibility: visible;
}
.header__list__sub__menu__item:hover .sub__menu__item__inner__sub__menu{
    opacity: 1;
    visibility: visible;
    z-index: 600;
}
.sub__menu__item__inner__sub__menu__item{
    padding: .35em 1em;
}
.sub__menu__item__inner__sub__link{
    font-size: .85rem;
    font-weight: 600;
    color: var(--text-blue);
}

.header__list__2__main{
    width: 60%;
}
.header__list__2__main__item{
    width: 42%;
    background-color: var(--text-white);
    color: var(--text-color);
    padding: .2em .8em;
    display: flex;
    align-items: center;
}
.header__list__2__main__border:nth-child(1){
    border-right: 1px solid var(--footer-color);
}

.header__list__2__main__border:hover{
    box-shadow: inset 0 -.3em 0 0 #ffd400;
}
.header__list__2__main__border.active{
    box-shadow: inset 0 -.3em 0 0 #ffd400;
}

.header__loc__form{
    display: flex;
    width: 100%;
    align-items: stretch;
}
.header__list__2__main__item input{
    outline: none;
    border: 0;
    font-size: .9rem;
    width: 100%;
}
.header__list__2__main__icon{
    margin-right: .5rem;
    font-size: 1.2rem;
}
.header__list__2__main__btn{
    width: 16%;
    background-color: var(--footer-title-color);
    text-align: center;
    width: max-content;
}
.header__list__2__main__btn input{
    background-color: var(--footer-title-color);
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.25rem;
    padding: .6em .8em;
    letter-spacing: .5px;
    cursor: pointer;
    width: 100%;
}

.header__login__signup .header__list__item + .header__list__item{
    margin-left: .7rem;
}
.header__login__signup .header__list__item{
    display: flex;
    align-items: center;
}

.header__login__signup .header__list__item span{
    display: flex;
 }

.header__login__signup .header__list__item i{
    font-size: .3rem;
    color: var(--text-white);
}

/*
=============================
	Restaurants
=============================
*/
.restaurants__main{
    background-color: var(--retaurant-bg);
    padding-bottom: 2em;
    padding-top: 5em;
}
.restaurants__sortoutlist{
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}
.restaurants__sortoutlist__col1__link{
    color: var(--text-blue);
    font-size: .9rem;
}
.restaurants__sortoutlist__col1__link:hover{
    text-decoration: underline;
    
}
.restaurants__sortoutlist__col1__link.active{
    color: var(--text-color);
    
}
.restaurants__sortoutlist__col2__link{
    display: block;
    text-align: right;
    font-size: 1rem;
    letter-spacing: .5px;
    color: var(--text-blue);
}
.restaurants__sortoutlist__col2__link + .restaurants__sortoutlist__col2__link{
    margin-top: .5rem;
}
.restaurants__sortoutlist__title{
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.restaurants__content__main{
    display: flex;
}
.restaurants__content{
    width: 70%;
}
.sortoutlist1{
    padding: .6em .8em;
    background-color: var(--sec2-sortoutlist-bg);
    display: flex;
    align-items: center;
}
.sortoutlist1 .btn{
    margin-right: .7rem;
}
.sortoutlist1__toggler,
.sortoutlist1__filter{
    color: var(--text-white);
}
.sort__item{
    margin-left: auto;
    color: var(--text-white);
    display: flex;
    align-items: center;
    position: relative;
}
.sortoutlist1__toggler{
    display: flex;
    align-items: flex-start;
}
.sub_main_ul_default{
    position: absolute;
    bottom: -10.3rem;
    z-index: 6000;
    width: 7rem;
    background-color: var(--text-white);
    text-align: center;
    transform: translateX(1.63rem);
    opacity: 0;
    visibility: hidden;
    border: 1px solid var(--sec2-sortoutlist-bg);
}
.sub_main_ul_default ul::before{
    position: absolute;
    height: 0;
    width: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(240,240,240,0);
    border-width: 10px;
    pointer-events: none;
    content: ' ';
    left: 50%;
    bottom: 100%;
    border-bottom-color: var(--text-white);
}
.sub_main_ul_default.active{
    opacity: 1;
    visibility: visible;
}
.sub_main_ul_default ul li a{
    padding: .8em .5em;
    display: block;
    color: var(--text-blue);

    font-size: .78rem;
    font-weight: 400;
    color: var(--color-lightgrey);
    background-color: var(--text-white);
}
.sub_main_ul_default ul li + li{
    border-top: 1px solid var(--color-lightgrey-more);
}
.sub_main_ul_default ul li a:hover{
    background-color: var(--footer-title-color);
    color: var(--text-color);
    width: 100%;
}

.sortoutlist1__toggler i{
    margin-left: .3rem;
}
.sortoutlist2{
    padding: .6em .8em;
    background-color: var(--text-white);
}
.sortoutlist2__filter{
    margin: 0 .5rem;
}
.sortoutlist2__filter > .remove{
    font-size: .75rem;
    color: var(--footer-color);
    width: 13px;
    height: 13px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background-color:var(--text-white)
}
.msg{
    font-size: .875rem;
    line-height: normal;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 12px 15px;
    background: var(--pink-bg);
    margin: 1rem 0;
}

.info__main{
    display: flex;
    justify-content: space-between;
    padding: 1.1em .9em;
    background-color: var(--text-white);
}
.info__main + .info__main {
    margin-top: 1rem;
}

.media-thumbnail{
    margin-right: 1rem;
}
.media-thumbnail a{
    display: inline-block;
}
.media-thumbnail a img{
    width: 7.8rem;
}
.info{
    width: 80%;
}

.info__content__main{
    display: flex;
    justify-content: space-between;
}

.info__title{
    line-height: .7;
    margin-bottom: 1rem;
}
.info__title a{
    font-size: 1.3rem;
    font-weight: 100;
    color: var(--text-blue);
    
}
.info-section1{
    width: 70%;
}
.categories{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: .5rem;
}

.categories a{
    color: var(--color-cat);
    font-weight: 500;
    letter-spacing: .5px;
}


.categories a + a {
    margin-left: .2rem;
}
.categories a::after {
    content: ",";
}
.rating__main{
    display: flex;
}
.rating{
    display: flex;
    align-items: center;
}
.result-rating{
    display: flex;
    align-items: center;
    padding-right: .5rem;
    border-right: 1px solid var(--color-lightgrey-more);
}
.result-rating .fa{
    color: var(--footer-title-color);
}
.result-rating a + a{
    margin-left: .5rem;
}

.count{
    color: var(--text-blue);
    font-size: inherit;
}

.bbb-rating{
    font-weight: 700;
    color: var(--color-cat);
    display: flex;
    align-items: center;
}
.bbb-rating_pdl{
    padding-left: .5em;
}
.bbb-rating .count{
    color: var(--text-blue);
    font-size: inherit;
    font-weight: 400;
    margin-left: .2em;
}
.bbb-rating .label{
    display: flex;
    align-items: center;
}
.bbb-rating .label i.eye_circle{
    font-size: .65rem;
    color:var(--text-grn);
}
.rating__link{
    padding: .3em 0;
}
.rating__link a{
    color: var(--text-blue);
    font-size: .8rem;
}
.restaurants__links{
    padding: 1em 0;
}
.restaurants__links a{
    padding: 0 .3em;
    line-height: .8;
    color: var(--text-blue);
    font-size: 1rem;
}
.restaurants__links a:nth-child(1){
    padding-left: 0;
}
.restaurants__links a + a{
    border-left: 1px solid var(--color-lightgrey-more);
}

.info-section2{
    width: 25%;
    text-align: right;
}
.phone{
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0;
    margin-bottom: .4rem;
    cursor: pointer;
}
.location{
    color: var(--text-blue);
    font-size: .9rem;
    display: block;
    width: max-content;
}
.location::before{
    content: "";
    display: inline-block;
    position: relative;
    width: 10px;
    height: 13px;
    margin-right: 5px;
    top: 2px;
    background-image: url(../img/pin-find-location.png);
}
.adr{
    color: var(--color-lightgrey);
    cursor: pointer;
}


/*  */
.map__btn:hover,
.listing__btn:hover,
.btn2:hover{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
}
.more__content{
    text-align: right;
}
.more__content p{
    font-size: .8rem;
    color: var(--color-lightgrey);
}
.preferred-listing-features{
    margin: 1rem 0;
}
.preferred-listing-features a{
    display: block;
    border: 1px solid var(--footer-color);
    padding: .5em .7em;
    text-align: left;
    color: var(--text-blue);
    font-weight: 500;
}
.preferred-listing-features a img{
    margin-right: .7rem;
}
.snippet{
    padding: .2em 0;
}
.snippet a i{
    font-size: 2.5rem;
    color: var(--profile-bg2);
}
.snippet a i.profile2{
    color: var(--profile-bg);
}
.snippet a{
    display: flex;
    align-items: center;
}
.snippet a p{
    font-size: .8rem;
    text-align: left;
    margin-left: 1rem;
    color: var(--sec2-sortoutlist-bg);
}
.listing-ctas{
    text-align: left;
}
.listing__btn{
    font-size: .875rem;
    background-color: var(--text-blueBtn);
    color: var(--text-white);
    margin-right: 10px;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
}
.listing__btn i{
    margin-right: .3rem;
}
aside{
    width: 30%;
    margin-left: 1rem;
}
.seo-categories .sea__links:hover,
.location:hover,
.info__title a:hover,
.rating__link a:hover,
.restaurants__links a:hover,
.categories a:hover{
    text-decoration: underline;
}
.pagination{
    margin: 1rem 0;
    padding: 1.1em  .7em;
    background-color: var(--color-lightgrey-more3);
    color:var(--color-lightgrey);
    font-size: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination ul{
    display: flex;
    align-items: center;
}
.pagination ul li span{
    font-weight: 700;
    letter-spacing: 0;
    font-size: .75rem;
    padding: .3em .7em;
    background-color: var(--text-white);
    color: var(--text-blue);
}
.pagination ul li span:hover{
    cursor: pointer;
}
.pagination ul li span.disabled{
    color: var(--color-lightgrey);
    background-color: var(--disable-color);
}
.pagination ul li + li{
    margin-left: .4rem;
}
.make__suggeston{
    display: flex;
    align-items: center;
    padding: .9em .7em;
    background-color: var(--suggestion-bg);
}
.make__suggeston .img__div{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1em .4em;
    background-color: var(--footer-title-color);
    margin-right: .7rem;
}
.make__suggeston .img__div img{
   width: 6rem;
   width: 2.5rem;
   margin-top: .7rem;
}
.main__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.main__content div{
    color: var(--text-white);
}
.main__content div p:nth-child(1){
    font-weight: 650;
    letter-spacing: .5px;
}
.main__content div p{
    font-size: .8rem;
}
.main__content div p + p{
    margin-top: .3rem;
}
.suggestion__btn{
    padding: .6em .9em;
    background-color: var(--footer-title-color);
    color: var(--suggestion-bg);
    outline: none;
    border: 0;
    font-size: .9rem;
    font-weight: 700;
}
aside div + div{
    margin-top: 1rem;
}
.map{
    position: relative;
}
.covid__19__alert img,
.map img{
    width: 100%;
    height: 100%;
}
.map__btn{
    font-size: .875rem;
    background-color: var(--text-blueBtn);
    color: var(--text-white);
    position: absolute;
    border: 0;
    outline: 0;
    top: 9px;
    right: 9px;
    z-index: 100;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.map__btn i{
    margin-left: .3rem;
}

.featured-listings,
.seo-categories{
    padding: .9em;
    background-color: var(--text-white);
    border-top: 2px solid var(--footer-title-color);
}
.featured__listings__title,
.seo__categories__title{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-lightgrey-more2);
    font-size: .9rem;
    margin-bottom: .7rem;
}
.seo-categories .sea__links{
    display: block;
    font-size: .8125rem;
    color: var(--text-blue3);
    letter-spacing: .4px;
}

.featured-listings .card + .card{
    border-top: 1px solid var(--color-lightgrey-more4);
    padding-top: 1em;
}

.featured__card__title{
    color: var(--text-blue);
    font-weight: 400;
    display: inline-block;
    margin-bottom: .3rem;
}

.featured__card__content .phone{
    font-size: .8rem;
    margin-bottom: .2rem;
}

.featured__card__content .result-rating{
    margin: 0 0 .6rem 0;
    border: 0;
}
.featured__card__content .result-rating span{
    font-size: .8rem;
}
.featured__card__content .result-rating .count{
    font-size: .8rem;
}

.featured__card__content .categories.light a{
    font-size: .9rem;
    color: var(--color-cat);
}
.featured__card__content .categories.light{
   margin-bottom: .3rem;
}

.featured__card__content .restaurants__links{
    padding: 0;
    margin-top: 0;
}
.featured__card__content .restaurants__links a{
    font-size: .8rem;    
}

.featured__card__content .adr{
    margin-top: 0;
    margin-bottom: .3rem;
}
.featured__card__content .adr p{
    font-size: .8rem;
    color: var(--color-cat);
}
.featured__card__content .ad{
    font-size: .7rem;
    text-align: right;    
}



/*
=============================
	Restaurants Detail
=============================
*/
.background
{
    background-image: url(../img/default_claimed_background.jpg);
    background-position: bottom;
    background-size: cover;
    height: 26.2rem;
    padding-top: 8rem;
}
.business-card__title{
    font-weight: 500;
    color: var(--txt-dark);
    line-height: 1.4;
}
.left .addr{
    color: var(--txt-lightdark);
    letter-spacing: .5px;
    font-weight: 300;
    margin: .3rem 0 .6rem 0;
    display: inline-block;
}
.left .left__view{
    color: var(--text-blue);
    font-size: .8rem;
    margin-left: .5rem;
}

.left .count{
    display: flex;
    align-items: center;
    margin: 1rem 0 1.5rem 0;
}

#number
{
    background-color: var(--txt-darkmore);
    color: var(--text-white);
    border-radius: 20px;
    padding: .2em 1em;
    font-size: 1.1rem;
    margin-right: .5rem;
}

.body .count > p
{
    color: var(--txt-darkmore);
    font-size: .7rem;
    text-transform: uppercase;
}
.unrated__stars{
    color:var(--color-lightgrey-more8);
}
.rated__stars__overall{
    font-size: 1.5rem !important;
}
.rated__stars__users{
    font-size: 1.2rem !important;
}
.checked
{
    color:var(--footer-title-color);
}
.left .checked
{
    color:var(--footer-title-color);
    font-size: 1.5rem;
}
#closed
{
    color: var(--txt-red);
    margin: .8rem 0 .3rem 0;
    text-transform: uppercase;
}
#closed i
{
    font-size: .7rem;
}

#phone
{
    font-size: 1.2rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: .8rem;
}
#phone i
{
    transform: scale(1.7);
    margin-right: .5rem;
}
#map-button
{
    padding: .5em 1em;
    background-color: var(--bg-blueBtnMap);
    margin-top: 1.2rem;
    border: 1px solid var(--border-blueBtnMap);
    color: var(--txt-dark);
    font-size: .8rem;
    font-weight: 600;
}
#map-button i{
    transform: scale(1.5);
    margin-right: .5rem;
}
.body .link > a
{
    color: var(--text-blue);
    margin-right: 1.2rem;
}
.main-left .msg{
    margin-top: 0;
}
.body .nav-item
{
    display: inline-block;
    padding: .8em 0 .2em 0;
}
.body .nav-item + .nav-item
{
    margin-left: 2rem;
}
.body .nav-item a
{
    color: var(--txt-dark);
    font-size: 1.1rem;
    font-weight: 500;
}

.body .nav-item.active
{
    border-bottom:2px solid var(--footer-title-color) ;
}
.body .nav-item:hover
{
    border-bottom:2px solid var(--footer-title-color) ;
}

.user-name
{
    color: var(--text-blue);
    font-weight: 600;
}
.stars__div{
    margin: 0 2rem 0 2rem;
}
#add-new-photo
{
    margin-top: 20px;

    
}
#photo-button
{
    padding: .7em 1em;
    background-color: var(--bg-blueAddPhotoBtn);
    border: 1px solid var(--border-blueAddPhoto);
    color:var(--txt-dark);
    font-weight: 600;
    outline: 0;
    font-size: .9rem;
    margin-right: .5rem;
}
.add-new-phto-txt{
    color: var(--txt-lightgrey2);
}
.title
{
    font-size: .9rem;
    font-weight: 500;
    color: var(--txt-h-info);
}
.description-detail
{
    font-size: .85rem;
    line-height: 1.7;
    width: 80%;
    color: var(--color-lightgrey);
    font-weight: 400;
}
.description-detail span{
    font-size: .88rem;
    font-weight: 600;
    letter-spacing: .3px;
}

.description-detail a
{
    font-size: .88rem;
    font-weight: 400;
    color: var(--text-blue3);

}
.main-right-title{
    font-weight: 500;
    color: var(--txt-dark);
    margin-bottom: 1rem;
}
.item-category{
    color: var(--text-blue3);
    line-height: 1.5;
}
.item-name
{
    color: var(--color-lightgrey-more5);
    font-size: .8rem;
    line-height: 1.4;
}

.price
{
    float: right;
}
.view__full__menu{
    color: var(--text-blue3);
    line-height: 1.5;
    font-size: .85rem;
}
.provided__by__txt{
    font-size: .8rem;
    color: var(--txt-dark);
    font-weight: 500;
}
.provided__by__txt img{
    margin-top: .2rem;
    width: 2.3rem;
}
.user-review
{
    padding: 1.2em 1em;
}
.user-review + .user-review
{
    border-top: 1px solid var(--color-lightgrey-more6);
}
.reviews
{
    background-color: var(--text-white);
    border-top: 1px solid var(--color-lightgrey-more6);
    padding: .9em;
    width: 69%;
}
.review__title{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: var(--suggestion-bg);
    font-weight: 500;

}
.background .rating > i
{
    background-color: var(--profile-bg3);
    font-size: 1.4rem;
    color: var(--text-white);
    padding: .5em .6em;
    border-radius: 50%;
    margin: 0 1.3rem 0 1rem;
}
.background .rating
{
    display: flex;
    background-color: var(--retaurant-bg);
    padding: 1em 0;
    justify-content: start;
    border: 1px solid var(--rating-bg);
}
.user-rating
{
    font-size: 2.5rem !important;
    transition: transform .3s linear;
    color: var(--txt-lightgrey2);
}

.user-rating:hover
{
    color: var(--footer-title-color);
    transform: scale(1.2);
}
.main__user__review__profile{
    display: flex;
    align-items: center;
    padding: .7em 0 1.4em 0;
}
.user__review__name__date{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.user-profile
{
    border-radius: 50%;
    margin-right: 1.3rem;
}
.date
{
    font-size: .9rem;
    color: var(--txt-lightgrey2);
}
.user-comment
{
    font-size: .9rem;
    color:var(--txt-dark);
}

.helpful-btn
{
    margin-top: 6rem;
    padding: .4em 1.1em;
    font-size: .9rem;
    margin-right: 1rem;
    color: var(--txt-lightgrey2);
    border: 1px solid var(--txt-lightgrey2);
    background-color: transparent;
}
.share__link{
    color: var(--text-blue3);
}
.user-review-left
{
    padding: 0 0 .9em 0;
    width: 40%;
}
.user-review-right{
    width: 70%;
}
.overall__heading{
    font-size: 1.2rem;
}

.overall__stars__main{
    padding-bottom: .7em;
    border-bottom: 1px solid var(--color-lightgrey-more7);
    width: min(85%,100%);
}
.nav-link.active{
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    background-color: var(--text-white);
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    top:0;
}
.nav-link.active .active__con{
    width: min(1000px, 90%);
    margin: 0 auto;
    padding: .2em .6em .5em .6em;
}
.nav-link .active__con li:nth-child(4){
    font-size: 1rem !important;
    clear: both;
    font-weight: 600;
    visibility: hidden;
    opacity: 0;
}
.nav-link .active__con li:nth-child(4) i{
    transform: scale(1.5);
    margin-right: .5rem;
}
.nav-link.active .active__con li:nth-child(4){
    visibility: visible;
    opacity: 1;
}
.body .link
{
    padding-top: 10px;
    border-top: 1px solid var(--color-lightgrey-more);
}
.rating-sec
{
    display: flex;
}
/*  */

.body
{
    margin: 0 auto 2rem auto;
}

.business-card
{
    background-color: var(--text-white);
    min-height: 235px;
    padding: 19px 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
}


.containers
{
    display:flex;
    justify-content: space-between;
}

.right
{
    text-align: right;
}

.main
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.main-left
{
    width: 69%;
}

.main-right
{
    width: 30%;
    padding: 10px;
    background-color: var(--text-white);
}

.web-description
{
    background-color: var(--text-white);
    margin-top: 10px;
    padding: 10px;
}

.body .nav-link
{
    list-style: none;
    transition: position .4s linear;

}

.description
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/*
=============================
	home
=============================
*/
.header__top{
    background-color: var(--text-white);
}
.header__top__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top__list{
    display: flex;
    align-items: center;
}
.header__top__header__list__link{
    padding: 1.3em 1.5em;
    color: var(--suggestion-bg);
    border-top: 2px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.header__top__list__link__sub__menu{

}
.header__top__item.active .header__top__header__list__link{
    border-top-color: var(--footer-title-color);
    border-right-color: rgba(0,0,0,.2);
    border-left-color: rgba(0,0,0,.2);
}
.header__top__list__link__sub__menu{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
    width: min(1000px,90%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-white);
    display: none;
    padding: 1.5em 2em;
    z-index: 80000;
}
.header__top__row__title__list__link{
    color: var(--suggestion-bg);
    line-height: 1.8;
    display: block;
    font-size: .95rem;
}
.header__top__list__link__hd a:hover,
.header__top__row__title__list__link:hover{
    text-decoration: underline;
}
.header__top__item.active .header__top__list__link__sub__menu{
    display: block;
}
.header__top__row{
    display: flex;
}
.header__top__row ul + ul{
    margin-left: 1rem;
}
.header__top__row .header__top__row__list{
    width: 100%;
}
.header__top__row__list .header__top__row__title{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    color: var(--txt-dark);
}
.header__top__list__link__hd{
    color: var(--txt-dark);
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
    
}
.header__top__list__link__hd a{
    color: var(--text-blue3);
    font-size: .8rem;
    font-weight: 500;
    margin-left: 1rem;
}

/*  */
.home__banner__main{
    background-image: url('../img/restaurant_4.jpg');
    zoom: 1;
    background-size: cover;
    
}
.home__banner__container{
    width: min(1300px, 90%);
    margin: auto;
    display: flex;
    justify-content: center;
}

.home__banner__content{
    display: flex;
    width: 98%;
}
.home__banner__content__left{
    width: 80%;
    background-image: url(../img/restaurant_41.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 0 6.5em 0;
    z-index: 300;
}
.home__banner__content__left__inner{
    position: relative;
    right: -22.3%;
    width: 70%;
}
.home-banner_left__logo{
    width: 10rem;
    margin-bottom: 3.4rem;
}
.home__banner__heading{
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    color: var(--text-white);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.home__banner__list{
    display: flex;
    margin-top: 1.3rem;
}
.home__banner__list li + li{
    margin-left: .5rem;
}
.home__banner__link{
    font-size: .9rem ;
    color: var(--text-white);
}
.home__banner__link img{
    margin-right: .6rem;
}
.home__banner___search__box .header__list.header__list__2__main{
    width: 100%;
}
.home__banner___search__box .header__list.header__list__2__main .header__list__2__main__item{
    padding: .5em .8em;
}
.home__banner__content__right{
    width: 20%;
    background-color: var(--home-signup-bg);
    color: var(--text-white);
    text-align: center;
    padding: 4.8em 1em 0 1em;
}
.banner__content__right__heading{
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}
.banner__content__right__txt{
    text-align: left;
    font-size: .8rem;
    margin-bottom: 1.4rem;
}
.banner__content__right__btn{
    background-color: var(--text-blueBtn);
    color: var(--text-white);
    display: block;
    padding: .6em;
    font-size: .95rem;
    margin-bottom: 1.2rem;
}
.banner__content__right__sign__txt{
    font-size: .85rem;
}
.banner__content__right__sign__txt a{
    color: var(--text-white);
    text-decoration: underline;
}




/*  */
.covid__update__main{
    background-color: var(--text-white);
    padding: 3.5em 0;
}
.covid__update__container{
    width: min(1000px, 80%);
    margin: 0 auto;
}
.covid__update__cont__main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.covid__update__logo__img{
    width: 10.5rem;
}

.covid__update__heading{
    color: var(--txt-orange);
    font-weight: 700;
    font-size: 1.1rem;
    margin: 1.2rem 0 .8rem 0;
}
.covid__update__txt{
    color: var(--txt-lightgrey6);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.covid__update__txt span{
    font-weight: 600;
    font-style: italic;
}
.covid__update__btn{
    background-color: var(--txt-orange);
    color: var(--text-white);
    display: inline-block;
    padding: .6em 2em;
    margin-bottom: 1rem;
    border-radius: 23px;
    font-weight: 600;
}
.covid__update__img__main{
    width: 23rem;
    margin-left: 3.85rem;
}

/*  */
.bussiness__owner{
    background-color: var(--retaurant-bg);
    padding: 3.5em 0;
}
.bussiness__owner__img__main{
    width: 22rem;
}
.bussiness__owner__container{
    width: min(1000px, 80%);
    margin: 0 auto;
}
.bussiness__owner__cont__main{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.bussiness__owner__img__main{
    width: 23rem;
    margin-right: 3.85rem;
}
.bussiness__owner__heading{
    color: var(--txt-dark);
    font-weight: 400;
    font-size: 1.85rem;
    margin-bottom: 1.4rem;
}
.bussiness__owner__heading span{
    font-weight: 600;
}
.bussiness__owner__txt{
    color: var(--txt-lightgrey6);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.bussiness__owner__learn__more__link{
    color: var(--text-blue);
}
.bussiness__owner__learn__more__link:hover{
    text-decoration: underline;
}
.bussiness__owner__btn + .bussiness__owner__btn{
  margin-left: .5rem;
}
.bussiness__owner__user__stars__views{
    display: flex;
    margin-top: .7rem;
}
.bussiness__owner__stars__main{
    margin-right: .9rem;
}
.bussiness__owner__stars__main span,
.bussiness__owner__stars__main i{
    font-size: 1.3rem;
}
.bussiness__owner__users__view i{
   margin-right: .5rem;
}
.bussiness__owner__users__view{
    font-size: .8rem;
}



/*  */
.question__answer{
    background-color: var(--text-white);
    padding: 3.5em 0;
    display: flex;
    justify-content: center;
   
}
.question__answer__main{
    width: min(768px, 100%);
    margin: 0 auto;
}
.q__a__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.claim__txt.q__a__inner__txt{
   width: min(50%, 100%);
   margin-bottom: .7rem;
}
.q__a__list__title{
    font-size: .95rem;
    font-weight: 550;
    margin-bottom: .7rem;
}
.q__a__list{
    display: flex;
}
.q__a__list li + li{
    margin-left: .66rem;
}
.q__a__list__link{
    color: var(--text-blue);
    border: 1px solid var(--color-lightgrey-more7);
    font-size: .85rem;
    padding: .7em 1.5em;
    display: inline-block;
    font-weight: 400;
    width: max-content;
    border-radius: 4px;
}
.q__a__list__link:hover{
    background-color: var(--text-blue);
    color: var(--text-white);
    border-color: var(--text-blue);
    
}
.q__a__btn{
    padding: 1em 3em;
    display: inline-block;
    background-color: var(--bg-blueAddPhotoBtn);
    border: 1px solid var(--border-blueAddPhoto);
    color: var(--txt-dark);
    font-weight: 600;
    font-size: 1.1rem;
    width: max-content;
    margin-left: 3rem;
    
}

.claim__business__main{
    background-color: var(--retaurant-bg);
    padding: 3.5em 0;
}
.claim__business__container{
    width: min(1000px, 80%);
    margin: 0 auto;
}
.claim__business__cont__main{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.claim__img__main{
    width: 23rem;
    margin-right: 3.85rem;
}
.claim__heading{
    color: var(--txt-dark);
    font-weight: 500;
    font-size: 1.85rem;
    margin-bottom: 1.4rem;
}
.claim__txt{
    color: var(--txt-lightgrey6);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.claim__btn{
    background-color: var(--text-blueBtn);
    color: var(--text-white);
    display: inline-block;
    padding: .6em 2em;
    margin-bottom: 1rem;
}
.claim__phone{
    color: var(--color-lightgrey);
    font-size: 1.1rem;
}

.home__cards__main{
    background-color: var(--text-white);
    padding: 3.5em 0;
}
.home__card__container{
    padding: 0 2em;
}
.home__card__title{
    color: var(--txt-dark);
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
}
.home__card__title img{
    margin-right: .2rem;
   
}
.home__card__title .home__view__all{
    color: var(--text-blue3);
    font-weight: 400;
    font-size: .9rem;
    margin-left: 1.5rem;
}
.home__card__row + .home__card__row{
    margin-top: 2rem;
}
.home__card{
    display: flex;
}
.home__card__box{
    position: relative;
    max-width: 18.4rem;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
}
.home__card__box:hover .home__card__overlay{
    opacity: 1;
}
.home__card__box .home__card__box__img{
    width: 100%;
}
.home__card__box__title{
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--txt-lightgrey6);
    margin: .7rem 0 .5rem 0;
    padding: 0 .5em;
}
.home__card__box__txt{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: var(--text-blue3);
    margin-bottom: .3rem;
    padding: 0 .5em .4em .5em;
}
.home__card__box__txt__blue{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    color: var(--txt-lightgrey7);
    padding: 0 .5em .4em .5em;
}
.home__card__box__pirce{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--price-txt);
    text-align: right;
    padding: 0 .5em .4em .5em;
}
.home__card__box__pirce span{
    font-size: 1rem;
    font-weight: 400;
    color: var(--txt-dark);
    text-decoration: line-through;
    margin-right: .4rem;
}
.home__card__overlay{
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.9);
    display: inline-block;
    position: absolute;
    top: 0;
    border: 2px dashed var(--price-txt);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}
.home__card__overlay__seemore{
    padding: .6em 1.2em;
    color: var(--text-white);
    background-color: var(--price-txt);
    font-size: 1rem;
    margin-bottom: .7rem;
}
.home__card__overlay__save{
    padding: .6em 2em;
    color: var(--price-txt);
    background-color: var(--text-white);
    border: 1px solid var(--price-txt);
    font-size: 1rem;
}
.home__card__overlay__save i{
    margin-right: .5rem;
}
/*
=============================
	Footer
=============================
*/
footer{
    padding: 3em 0;
    background-color: var(--footer-bg);
}

.footer__top{
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.footer__col{
	width: 22%;
}

.footer__col + .footer__col{
	margin-left: 2.5rem;
}

.footer__col-3{
	width: 34%;
}

.footer__col-3__nav{
	display: flex;
	justify-content: space-between;
}

.footer__title{
	color: var(--footer-title-color);
	font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.footer__title .footer__subtitle{
    color: var(--footer-title-color);
	font-weight: 400;
	font-size: .7rem;
}
.footer__title sup{
	font-size: .5rem;
}

.footer__col__item{
    color: var(--text-white);
    font-weight: 400;
    font-size: .8rem;
    margin-bottom: .1rem;
}

.footer__col__item span{
    margin: 0 .3em;
}
.header__login__signup .header__list__item a:hover,
.footer__title a:hover,
.footer__col__item:hover{
	text-decoration: underline;
}


/* footer Bottom */
.footer__bottom{
    text-align: center;
}
.footer__bottom__social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.footer__bottom__social__item + .footer__bottom__social__item{
    margin-left: 2rem;
}

.footer__bottom__social__link{
    padding: .5em .7em;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--text-white);
}

.fb{
    background-color:#3b5998;
    padding: .56em .8em;
}

.tw{
    background-color:#00acee;
}

.footer__bottom__txt{
    font-size: .7rem;
    line-height: 1.4;
    letter-spacing: .5px;
}